.bodymaincolour {
    background-color: #b5bab6;
}

.navbar {
    text-align: center;
}

.wrapper-main {
    width: 100%px;
    margin: 0;
}

.imgmain {
    width: 100%;
    position: relative;
    align-items: center;
    /*background-size: 70vh, cover;*/
    mask-image: linear-gradient(to top, transparent 10%, #b5bab6);
    margin: 0;
}


.title, .welcome, .intro {
    text-align: center;
    display: block;
    font-family: 'Forum';
}

.title {
    font-family: 'Forum';
    font-size: 4rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 60%;
    border-style: ridge;
    border-color: black;
}


@media (max-width: 600px) {
    .wrapper-main {
        width:100%;
    }

    .title {
        font-size: 1rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}





















/* index main page css

.bodymaincolour {
    background-color: #b5bab6;
    margin: 0;
}

.navbar {
    text-align: center;
}

.imgmain {
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(to right, transparent 10%, #b5bab6);
}

.container {
    position: relative;
    text-align: center;
}

.title {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Forum';
    font-size: 55px;
    opacity: 60%;

}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Forum';
    font-size: 30px;
    letter-spacing: 15px;
    transition: 1s;
    margin: 100;
    padding: 0;
}

.welcome:hover {
    opacity: 0;
    content: 'ΚΑΛΏΣ ΉΡΘΕΣ';
}

.greekwelcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Forum';
    font-size: 30px;
    letter-spacing: 15px;
    opacity: 0; 
    transition: 1s; 
    background: transparent;
}

.greekwelcome:hover {
    opacity: 1; 
}

.welcome:before {
    content: 'WELCOME';
    font-size: 60px;
    letter-spacing: 25px;
    display: inline-block;
    padding: 3px;
    transition: 4s;
}

.welcome:hover:before {
    content: 'ΚΑΛΏΣ ΉΡΘΕΣ'; 
    font-size: 60px;
    letter-spacing: 25px;
    transition: 4s;
    animation: grk 5s 1;
}

@keyframes grk {
    0% {
        color: transparent;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .imgmain {
        width: 100%;
        height: auto;
    }
}*/